# compiled output
.vscode
/node_modules

# environment files
.env
.env.local
.env.*.local

# code formatter
.eslintrc
.eslintignore
.editorconfig
.huskyrc
.lintstagedrc.json
.prettierrc

# test
jest.config.js

# docker
Dockerfile
docker-compose.yml
